<p style="color: green"><%= notice %></p>

<h1>My Buses</h1>
<% if user_signed_in? %>
  <% if is_bus_owner? %>
    <%= link_to "New bus", new_bus_path %>
  <% end %>
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="section_our_solution">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div id="buses" >
            <% @owner_buses.each do |bus| %>
                <div class="solution_card">
                  <div class="hover_color_bubble"></div>
                  <div class="so_top_icon">
                  </div>
                  <div class="solu_title">
                    <h3><%=bus.title%></h3>
                  </div>
                  <div class="solu_description">
                    <p>
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </p>
                    <%= link_to "See Details", bus, class: "details-btn" %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
