/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  background-color: #BFD7EA;
  margin: 50px;
 }
 .right-align{
    float: right 
 }
 .align-center{
  display: grid;
  place-items: center;  
 }
 h2, h1 {
  font-size: calc(1.375rem + 1.5vw);
  display: grid;
  place-items: center;
}
 .button {
   display: inline-block;
   padding: 6px 8px;
   background-color: #385166; /* Button color */
   color: rgb(243, 238, 238); /* Text color */
   text-align: center;
   border: 2px solid black;
   border-radius: 5px; /* Rounded corners */
   cursor: pointer; /* Change cursor on hover */
 }
 .button:hover{
  color: white;
  text-decoration: none;
 }

.bus-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}





/* header navbar serch */
.search-bar{
  margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    background: transparent;
    border: none;
    border: 1px solid #FFC300;
    color: white;
    border-radius: 13px;
}

.search-bar::placeholder{
  color: #FFC300!important;
  padding-left: 20px;
   background: transparent;
}

input[type="submit"] {
  background-color:  #3f8721!important;
  color: white;
  padding: 4px 12px;
  border: none;
  border-radius: 16px;
  /* font-size: 0.8rem; */
  cursor: pointer;
}

/* card css */
.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #e9d298a1;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
  width: 90%;
}

.solution_cards_box .solution_card:hover {
  /* background: #309df0; */
   background: #f2b312a1;
  color: #000000;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #000000;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }
}




/* checkbox */
.seat-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between seats as needed */
}

.seat {
  width: 75px; /* Adjust the width of each seat */
  height: 75px; /* Adjust the height of each seat */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 5px;
}

.reserved {
  background-color: #ecb2b2; /* Customize the background color for reserved seats */
}

.available {
  background-color: #99dfff; /* Customize the background color for available seats */
}
.bus_container{
  display: grid;
  place-items: center;
  margin: auto;
  width: 150px;
  margin-top: 80px;
}
.submit_tag{
  margin-top: 10px;
  display: grid;
  place-items: center;
}
hr {
  border-color: blue;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.bus-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a,
button {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
p strong{
  color: rgb(35, 57, 35);
}
.bt-primary {
  color: #fff;
  background-color: #2a7a1c;
  border-color: #080b0e;
}

.btn-tertiary {
  background-color: #007bff;
  color: white;
}

.btn-destructive {
  background-color: rgb(196, 51, 51);
  color: white;
}

/* date field */

.reservation-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style for input fields */
input[type="date"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* Style for the submit button */
input[type="submit"] {
  background-color: #38873b; /* Green color */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3f7f42; /* Darker green color on hover */
}

/* flashes */



/* booking */
  .booking-entry {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    overflow: hidden;
  }

  .booking-details {
    float: left;
    width: 60%;
  }

  .booking-actions {
    float: right;
    text-align: right;
    width: 40%;
  }

  .your-custom-class {
    /* Add your custom styles for the cancel button */
    background-color: #d9534f;
    color: #fff;
    border: 1px solid #d43f3a;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
  }


  /* bus card */
  .team-boxed {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }

  .details-btn {
    background-color: #308d9f; /* Button background color */
    color: #fff; /* Button text color */
    border: 1px solid black; /* Button border color */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
  }
  .details-btn:hover{
    color: rgb(39, 44, 53);
    text-decoration: none;
    background-color: #bbebf5;
  }

  .details-btn {
    background-color:transparent;
    border: 1px solid #a98611;
    color: #c69d14;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  .details-btn:hover{
    background-color: #c69d14;
    color: black;
  }