
<%= form_with(model: @reservation, url: tickets_bus_path(@bus, reservation_date: "dummy"), local: true, method: :get ,data: { action: 'submit->form#submitForm' }) do |form| %>
  <div>
    <%= label_tag "reservation_date", "Reservation Date" %>
    <%= date_field_tag "reservation_date", Date.today, class: "datepicker", required: true , min: Date.today%>
  </div>
  <%= submit_tag "Submit" %>
<% end %>