<h1 class="align-center">Buses</h1>
<% if user_signed_in? %>
<%= link_to "New bus", new_bus_path, class:"button align-right" %>
<% end %>
<%= render partial: 'application/bus', locals: { buses: @buses }%>